/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .hidden{
   display: none;
 }
 .gf-row .cart-left {
    width: 40%;
}

.gf-row .cart-right a {
    display: block;
   
}
 
 .gf-row .cart-right {
   margin-left: 5px;
}

.widget_shopping_cart_content .package-gb-cont {
        width: 95%;
        margin: 10px auto;
}


.widget_shopping_cart_content .dd-selected-text {
    margin-bottom: 0px;
    line-height: 20px !important;
    width: 50%;
}

 .pack-n {
    font-size: 15px;
    color: #555;
}
.cb-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 15px;
    background-color:#fbfbfb;
}
.cb-thumb {
    margin-right: 2%;
    display: flex;
    flex-direction: row;
}
.dd-select{background-color:transparent !important;}
.dd-selected {padding: 4px 7px !important;}
.dd-selected-text{margin-bottom:0px;line-height: 33px !important;}
.dd-option{padding: 4px 7px !important;}
.dd-option-text{margin-bottom:0px;line-height: 33px !important;}
.cb-item-detail {
    margin-right: 16%;
    max-width:30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-content: flex-start;
}
.item-cb-free {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.item-cb {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.cb-item-price {
    margin-left: 49%;
}

.pdthumb {width:100px;}
.gf-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 15px;
}
.gf-row:nth-child(2n) {background-color: #fff;}
.gf-row:nth-child(2n+1) {background-color: #f0f8ff;}

.gf-thumb {
    margin-right: 2%;
}
.gf-item-detail {
    margin-right: 16%;
    max-width:30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-content: flex-start;
}
.gf-item-count {
    margin-right: 10%;
}
.gf-item-price {
    margin-right: 10%;
}

.quantity-minus, .quantity-plus {font-size: 32px;
    line-height: 25px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #f1eeeb;
    text-align: center;vertical-align: middle;
}

.item-title {
    font-size: 18px;
    color: #333;
}
.item-sku {
    font-size: 13px;
    color: #333; margin-bottom: 0;
}
.gf-row-delete .fa-trash{padding: 5px 0;
    font-size: 16px;
    color: red;
}
.package-gb-cont{width: 85%;margin: 0 auto; border: 1px dashed #ddd; padding: 10px 10px;}
.item-price {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.cb-pack-con {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cb-pack-rec {
    margin-left: 10%; cursor: pointer;
}
.btnOpenForm {
    font-size: 15px;
    padding: 3px 3px;
    border: 1px dashed #bbb;
    width: max-content;
}
.ar-button {
    background-color: #000;
    border: none;
    padding: 9px 25px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
}
.anr-button {
    background-color: #000;
    border: none;
    padding: 9px 25px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    float: right;
    margin-right: 8%;
}
.pd-button {
    background-color: #000;
    border: none;
    padding: 9px 25px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
}
.form-group {
    margin-bottom: 1rem;
    width: 48%;
    float: left;
    margin: 0 12px 0 0px;
}
.form-popup-bg {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.form-popup-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    overflow-y: auto;
    z-index: 10000;
}
.form-popup-bg.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.form-container {
    background-color:#bfbfbf;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    padding: 40px;
    color: #fff;
}
.close-button {
    background:none;
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #fff;
}

.form-popup-bg:before{
    content:'';
    background-color: #fff;
    opacity: .25;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* Absolute Center Spinner */
.wcgb-loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
.wcgb-loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
.wcgb-loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .wcgb-loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }